<div>
  <img src="bgsite.png" class="fixed h-dvh w-full z-0" alt="">
  <div class="absolute w-full flex justify-center">
    <div class="p-4 flex justify-center items-center text-black z-50 absolute w-full">
      <ul class="flex gap-8 cursor-pointer">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Me</a></li>
        <li><a href="#technologies">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
      </ul>  
    </div>
    <div class="absolute">
      <div id="home" class=" h-dvh w-[1366px] top-0 z-10 flex items-center p-20">
        <div class="mt-16 flex justify-center items-center w-full">
          <div class=" w-full flex flex-col">
            <span class="text-3xl font-light leading-none">HI Welcome to my</span>
            <span class="text-[90px] font-bold leading-none">PORTFOLIO</span> 
            <div class="flex justify-start items-center w-full p-3 gap-6">
              <a href="https://www.facebook.com/messages/t/5890368184334852/" target="_blank"><img src="messenger.webp" class="w-12 p-3 rounded-2xl bg-white" alt=""></a>
              <a href="https://www.linkedin.com/in/yvert-glynn-soriano-a65721252/" target="_blank"><img src="linkedin.webp" class="w-12 p-3 rounded-2xl bg-white" alt=""></a>
              <a href="https://github.com/glynn315" target="_blank"><img src="git.png" class="w-12 p-3 rounded-2xl bg-white" alt=""></a>
            </div>
          </div>
          <div class="w-full"> 
            <img src="me.png" class="w-full rounded-full shadow-2xl shadow-gray-700" alt="">
          </div>
        </div>
      </div>
      <div id="about" class="h-dvh w-[1366px] top-0 z-10 flex items-center p-20">
        <div class="mt-16 flex justify-center items-center w-full">
          <div class=" w-full flex flex-col">
            <span class="text-[100px] font-extrabold opacity-20 leading-none">ABOUT ME</span>
            <span class="text-[50px] -mt-14 font-extrabold leading-none">ABOUT ME</span>
            <span class="text-2xl font-semibold text-black leading-none text-justify pr-5 indent-10">Hi, I'm Yvert Glynn Soriano, a passionate and driven software developer. I am committed to mastering my craft and staying at the forefront of the industry. I embrace challenges, continuously push my limits, and strive for excellence in everything I do.</span> 
          </div>
          <div class="w-full flex justify-end"> 
            <img src="coding.png" class="w-2/3" alt="">
          </div>
        </div>
      </div>
      <div id="technologies"  class="h-dvh w-[1366px] top-0 z-10 flex items-center p-20">
        <div class="mt-16 flex flex-col justify-center items-center w-full">
          <div class=" w-full flex flex-col">
            <span class="text-[80px] font-extrabold opacity-20 leading-none">TECHNOLOGIES</span>
            <span class="text-[50px] -mt-12 font-extrabold leading-none">Technologies Used</span>
            <span class="text-2xl font-semibold text-black leading-none text-justify pr-5 indent-10"></span> 
          </div>
          <div class=" w-full flex flex-col">
            <span class="text-[25px] mt-14 font-extrabold leading-none">Development</span>
          </div>
          <div class="w-full flex justify-end gap-10 items-center mt-10"> 
            <img src="hmtl.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="css.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="bootstrap.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="ionic.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="js.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="laravel.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="mssql.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="mysql.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="net.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="php.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="psql.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="sass.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="wordpress.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="tailwind.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
          </div>
          <div class=" w-full flex flex-col">
            <span class="text-[25px] mt-14 font-extrabold leading-none">Creatives</span>
          </div>
          <div class="w-full flex justify-start gap-10 items-center mt-10"> 
            <img src="ps.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="ai.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
            <img src="Figma.png" class="w-[50px] h-[50px] p-2 rounded-md bg-white" alt="">
          </div>
        </div>
      </div>
      <div id="projects"  class="h-dvh w-full top-0 z-10 flex items-center p-20">
        <div class="mt-16 flex flex-col justify-center items-center w-full">
          <span class="text-[130px] font-extrabold"> Under Developemnt </span>
        </div>
      </div>
    </div>
  </div>
</div>